<launch>
  <arg name="reference_frame" default="/map"/>
  <arg name="units" default="mm"/>
  <arg name="publish_rate" default="1000"/>
  <arg name="omni_name_master" default="phantom_master"/>
  <arg name="device_name_master" default="master_device"/>
  <arg name="omni_name_slave" default="phantom_slave"/>
  <arg name="device_name_slave" default="slave_device"/>
  <param name="topic_master" value="/$(arg omni_name_master)/phantom"/>
  <param name="topic_slave" value="/$(arg omni_name_slave)/phantom"/>

  <group ns="$(arg omni_name_master)">
    <node name="omni_state" pkg="omni_common" type="omni_state" output="screen">
      <param name="device_name" value="$(arg device_name_master)"/>
      <param name="omni_name" value="phantom"/>
      <param name="publish_rate" value="$(arg publish_rate)"/>
      <param name="reference_frame" value="$(arg reference_frame)"/>
      <param name="units" value="$(arg units)"/>
    </node>
    <node name="master" pkg="bilateral" type="bilateral_master" output="screen">
      <rosparam>ktheta_list: [-1.0,-2.0,-2.0]</rosparam>
    </node>
  </group>

  <group ns="$(arg omni_name_slave)">
    <node name="omni_state" pkg="omni_common" type="omni_state" output="screen">
      <param name="device_name" value="$(arg device_name_slave)"/>
      <param name="omni_name" value="phantom"/>
      <param name="publish_rate" value="$(arg publish_rate)"/>
      <param name="reference_frame" value="$(arg reference_frame)"/>
      <param name="units" value="$(arg units)"/>
    </node>
    <node name="slave" pkg="bilateral" type="bilateral_slave" output="screen">
      <rosparam>ktheta_list: [-1.0,-2.0,-2.0]</rosparam>
    </node>
  </group>

</launch>
